.benefits {
  display: flex;
  flex-direction: column;
  gap: 12px;

  > li {
    display: flex;
    gap: 6px;
    align-items: center;

    > span {
      width: 18px;
      height: 18px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      border: 1px solid #215aae;

      svg {
        width: 12px;
        height: 12px;
        color: #1d1d1d;
      }
    }
  }
}
