.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  flex-wrap: wrap;
  border-radius: 12px;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover,
  &:active {
    filter: brightness(90%);
  }

  > svg {
    width: 18px;
    height: 18px;
    color: $black-100;
  }

  &.button--primary {
    background: #dbc958;
    color: $black-100;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: 24px;
  }

  &.button--primary-outlined {
    border: 1px solid #dbc958;
    color: #dbc958;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: 24px;
  }

  &.button--small {
    padding: 12px 30px;
  }

  &.button--big {
    padding: 18px 42px;
  }

  &.button--secondary {
    border-radius: 12px;
    background: $green-500;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &.button--tertiary {
    border-radius: 18px;
    background: $blue-700;
    color: $white;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }

  &.button--outlined {
    border-radius: 18px;
    border: 1px solid $blue-700;
    color: $blue-700;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &.button--danger {
    padding: 24px;
    border-radius: 18px;
    border: 1px solid#fb7070;

    > svg {
      width: 18px;
      height: 18px;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 14px !important;
    line-height: 18px !important;

    &.button--big {
      padding: 18px 24px;
    }

    .button_loader {
      width: 18px;
      height: 18px;

      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.button_loader {
  width: 24px;
  height: 24px;
  animation: rotate 1s linear infinite;

  > svg {
    width: 24px;
    height: 24px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
