.checkbox {
  display: flex;
  padding: 3px 0;

  &:hover {
    .checkbox_label {
      opacity: 1;
    }
  }

  &.checkbox--error {
    .checkbox_indicator {
      background: #fb7070;
    }

    .checkbox_label {
      color: #fb7070;
      opacity: 1;
    }
  }

  &.checkbox--checked {
    .checkbox_indicator {
      background-color: #598cd9;

      svg {
        color: $white;
        visibility: visible;
        display: flex;
      }
    }

    .checkbox_label {
      opacity: 1;
    }
  }

  @media screen and (min-width: 480px) {
    .checkbox_label {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }

    .checkbox_indicator {
      margin-right: 9px;
    }
  }
}

.checkbox_inner {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.checkbox_label {
  color: #1d1d1d;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  user-select: none;
  opacity: 0.4;
}

.checkbox_field {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

.checkbox_indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 6px;
  background-color: #59d9c6;
  margin-right: 6px;
  margin-top: 2px;
  flex-shrink: 0;

  svg {
    width: 12px;
    height: 12px;
    visibility: hidden;
    display: none;
  }
}
