.input {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.input--light {
    .input_label,
    .input_field::placeholder,
    .input_field {
      color: $white;
    }

    .input_field {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px #215aab inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    &.input--focused {
      .input_inner {
        border-bottom-color: $white;
      }

      .input_label {
        color: $white;
        opacity: 1;
      }
    }

    &.input--error {
      .input_error {
        visibility: visible;
        color: #fda9a9;
      }

      .input_inner {
        border-bottom-color: #fda9a9;
      }
    }

    .input_inner {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  &.input--dark {
    .input_label,
    .input_field::placeholder,
    .input_field {
      color: rgba(29, 29, 29, 0.2);
    }

    .input_field {
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: rgba(29, 29, 29, 0.7);
        -webkit-box-shadow: 0 0 0px 1000px #c8e7ec inset;
        transition: background-color 5000s ease-in-out 0s;
      }
    }

    .input_inner {
      border-bottom: 1px solid rgba(29, 29, 29, 0.2);
    }

    &.input--focused {
      .input_inner {
        border-bottom: 1px solid rgba(29, 29, 29, 0.7);
      }

      .input_field {
        color: $black-100;
        opacity: 1;
      }

      .input_label {
        color: $black-100;
      }
    }

    &.input--error {
      .input_error {
        visibility: visible;
        color: #e74c4c;
      }

      .input_inner {
        border-color: #e74c4c;
      }
    }

    .input_label,
    .input_field {
      color: $black-100;
    }

    .input_field {
      opacity: 0.7;

      &::placeholder {
        opacity: 0.7;
      }
    }
  }

  &.input--floating {
    .input_label {
      font-size: 10px;
      line-height: 1.2;
      font-weight: 600;
      opacity: 0.4;
      top: 0;
    }
  }

  &.input--error {
    .input_error {
      visibility: visible;
    }
  }

  &.input--focused {
    .input_inner {
      border-bottom-color: $white;
    }
  }

  @media screen and (min-width: 480px) {
    .input_field,
    .input_inner,
    .input_label,
    .input_error {
      font-size: 14px;
      line-height: 18px;
    }

    .input_inner {
      padding: 15px 12px;
    }

    .input_error,
    .input_message {
      font-size: 12px;
      line-height: 16px;
      padding: 8px 12px;
    }
  }
}

.input_inner {
  display: flex;
  flex-direction: column;
  padding: 16px 12px 6px;
  position: relative;
}

.input_label {
  font-weight: 300;
  position: absolute;
  margin-bottom: 0;
  opacity: 0.7;

  > span {
    color: #e74c4c;
  }
}

.input_field {
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

.input_error {
  font-size: 10px;
  line-height: 1.2;
  align-self: flex-end;
  padding: 6px 12px;
  visibility: hidden;
}

.input_message {
  font-size: 10px;
  line-height: 1.2;
  color: #215aae;
  align-self: flex-end;
  padding: 6px 12px;
  opacity: 0.4;
}

.input_wrap {
  display: flex;
  align-items: center;
}

.input_field {
  flex-grow: 1;
}

.input_suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: min-content;
  max-height: 200px;
  z-index: 1;
  overflow: scroll;
  background-color: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 12px 0;
  border-top: 1px solid #215aae;

  > ul > li {
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;

    > :first-child {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: 2px solid $black-100;

      > span {
        background-color: $green-500;
      }
    }

    > :last-child {
      color: $black-100;
      font-family: "Montserrat";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
    }

    &.input_suggestions-item--selected {
      > :first-child {
        background-color: $green-500;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $black-100;
      }

      > :last-child {
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
    }

    &:hover {
      > :first-child {
        border-color: $green-500;
      }

      > :last-child {
        color: $black-100;
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }
}
