.paragraph {
  &.paragraph--title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }

  &.paragraph--subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }

  &.paragraph--p1 {
    font-family: "PlayfairDisplay";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }

  &.paragraph--p2 {
    font-size: 16px;
    font-style: normal;
    line-height: 20px;
  }

  &.paragraph--p3 {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
  }

  @media only screen and (max-width: 1100px) {
    &.paragraph--title {
      font-size: 18px;
      line-height: 24px;
    }

    &.paragraph--subtitle {
      font-size: 14px;
      line-height: 18px;
    }

    &.paragraph--p1 {
      font-size: 22px;
      line-height: 30px;
    }

    &.paragraph--p2 {
      font-size: 14px;
      line-height: 18px;
    }

    &.paragraph--p3 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  @media only screen and (max-width: 600px) {
    &.paragraph--title {
      font-size: 14px;
      line-height: 18px;
    }

    &.paragraph--subtitle {
      font-size: 12px;
      line-height: 18px;
    }

    &.paragraph--p1 {
      font-size: 18px;
      line-height: 24px;
    }

    &.paragraph--p2 {
      font-size: 12px;
      line-height: 16px;
    }

    &.paragraph--p3 {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
