.sidebar {
  background: rgba(47, 47, 47, 0.6);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;

  @media only screen and (max-width: 600px) {
    .sidebar__header {
      padding: 12px 12px 12px 24px;
    }

    .sidebar__content {
      padding: 24px;
      height: calc(100vh - 72px - 102px);
    }

    .sidebar__cta {
      padding: 24px;
    }
  }
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  padding: 12px 36px 12px 48px;
}

.sidebar__title {
  color: $green-500;
  font-family: "PlayfairDisplay";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-right: 26px;
}

.sidebar__cancel {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #dbc958;

  > svg {
    width: 24px;
    height: 24px;
  }
}

.sidebar__content {
  padding: 24px 36px;
  height: calc(100vh - 72px - 108px);
  overflow: scroll;
}

.sidebar__logo {
  color: $white;
  font-family: "PlayfairDisplay";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 60px;
  margin-top: 30px;

  > span {
    color: $green-500;
  }
}

.sidebar__conference {
  display: flex;
  flex-direction: column;

  > p {
    color: $white;
  }
}

.sidebar__navigation {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;

  > button {
    color: $white;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
}

.sidebar__cta {
  margin-top: auto;
  padding: 24px 36px;

  > button {
    width: 100%;
  }
}
