.tabs {
  border-radius: 18px;
  display: flex;
  padding: 6px;
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid $white;

  > button {
    color: $black-100;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: "Montserrat";
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 500;
    border-radius: 12px;
    flex: 1 0 0;
    align-self: stretch;

    &.is--active {
      font-weight: 700;
    }

    > svg {
      width: 18px;
      height: 18px;
      color: #1d1d1d;
      margin-right: 6px;
    }
  }

  &.tabs--outlined {
    background-color: transparent;

    > button {
      padding: 12px 42px;
      font-size: 14px;
      line-height: 18px;

      &.is--active {
        background: $white;

        &:hover {
          filter: brightness(95%);
        }
      }
    }
  }

  &.tabs--filled {
    background: $white;

    > button {
      padding: 18px 42px;
      font-size: 16px;
      line-height: 24px;

      &.is--active {
        background: #dbc958;

        &:hover {
          filter: brightness(90%);
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    &.tabs--filled {
      flex-direction: column;
    }

    > button {
      padding: 12px 24px !important;
    }
  }

  @media only screen and (max-width: 600px) {
    &.tabs--outlined {
      flex-direction: column;
    }
  }
}
