.tag {
  display: flex;
  padding: 6px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid $white;

  &:hover {
    filter: brightness(90%);
  }

  > * {
    font-family: "Montserrat";
    color: $white;
  }

  &.tag--active {
    background: $white;

    > * {
      color: $black-100;
    }
  }
}
