.banner {
  height: 100vh;
  width: 100%;
  padding: 0 120px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #2f2f2f 0%, rgba(47, 47, 47, 0) 100%),
    url("../../assets/images/banner.png"), lightgray 50% / cover no-repeat;
  background-blend-mode: hard-light, normal;
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 900px) {
    min-height: 1100px;
    height: 100%;
    padding: 0 60px;

    .banner__cta {
      margin-top: 120px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100vh;

    .banner__cta {
      gap: 12px;
    }

    .banner__content {
      > h1 {
        font-size: 42px;
        line-height: 42px;
      }

      > h2 {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

.banner__content {
  > h1 {
    color: $white;
    font-family: "PlayfairDisplay";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 30px;
    max-width: 600px;

    > span {
      color: $green-500;
    }
  }

  > h2 {
    color: $white;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    max-width: 600px;
  }
}

.banner__cta {
  margin-top: 54px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner__information {
  display: flex;
  flex-direction: column;

  > p {
    color: $white;
  }
}
