.educators {
  padding: 120px;
  background: $blue-700;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  > :first-child {
    grid-column: 1 / 3;
  }

  > .educators__item {
    min-height: 330px;
  }

  @media only screen and (max-width: 1150px) {
    grid-template-columns: 1fr 1fr 1fr;

    > :first-child {
      grid-column: 1 / 4;
      margin-bottom: 60px;
    }

    .educators__header {
      padding: 0;
    }
  }

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;

    > :first-child {
      grid-column: 1 / 3;
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;

    .educators__item {
      > :first-child {
        width: 150px;
        height: 150px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
    grid-gap: 24px;

    .educators__title {
      font-size: 36px;
      line-height: 42px;
    }

    .educators__header {
      margin-bottom: 60px;
    }

    .educators__item {
      min-height: unset;
      border: none;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      > :first-child {
        width: 120px;
        height: 120px;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    grid-gap: 12px;

    .educators__item {
      background: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      > p {
        text-align: center;
      }
    }
  }
}

.educators__header {
  padding: 60px 0;

  > :last-child {
    color: $white;
    max-width: 540px;
    width: 100%;
  }
}

.educators__title {
  color: $white;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  border-bottom: 1px solid $green-500;
  width: max-content;
  margin-bottom: 30px;
}

.educators__item {
  cursor: pointer;
  border-radius: 300px 0px;
  border: 1px solid rgba(89, 217, 198, 0.6);
  background: linear-gradient(
    67deg,
    #59d9c6 -40%,
    rgba(89, 140, 217, 0) 29.59%
  );

  &:hover {
    > img {
      filter: brightness(80%);
    }
  }

  > :first-child {
    width: 180px;
    aspect-ratio: 1;
    margin-bottom: 12px;
    border-radius: 100%;
  }

  > .paragraph--title {
    color: $white;
  }

  > .paragraph--p2 {
    color: $white;
    max-width: 70%;
  }
}
