.footer {
  background: $blue-700;
  display: flex;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 1350px) {
    .footer__contact {
      flex-direction: column;
    }

    .footer__form {
      > button {
        margin-top: 12px;
      }
    }

    .footer__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 100%;
      justify-content: space-between;

      > svg {
        max-width: 500px;
        width: 100%;
        height: auto;
      }

      > div {
        max-width: 400px;

        > h1 {
          color: $white;
          font-family: "PlayfairDisplay";
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 66px;
          border-bottom: 1px solid $green-500;
          width: max-content;
          margin-bottom: 18px;
        }

        > svg {
          width: 240px;
          height: 240px;
        }

        > p {
          color: $white;

          > span {
            color: $green-500;
            font-weight: 500;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    .footer__field-group {
      flex-direction: column;
      gap: 12px;
    }

    .footer__copyright {
      padding-left: 60px;
      padding-right: 60px;
    }

    .footer__content {
      > div {
        max-width: 100%;
      }

      > svg {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .footer__content {
      > div > h1 {
        font-size: 36px;
        line-height: 42px;
      }
    }

    .footer__contact {
      gap: 30px;
    }
  }

  @media only screen and (max-width: 500px) {
    .footer__copyright {
      padding-left: 30px;
      padding-right: 30px;
    }

    .footer__form-wrap {
      padding: 0;
      border: 0px;
    }
  }
}

.footer__contact {
  display: flex;
  padding: 120px;
  width: 100%;
  gap: 60px;

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 480px;
  width: 100%;

  > h1 {
    color: $white;
    font-family: "PlayfairDisplay";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    border-bottom: 1px solid $green-500;
    width: max-content;
  }

  > svg {
    width: 240px;
    height: 240px;
    mix-blend-mode: hard-light;
  }

  > p {
    color: $white;

    > a {
      color: $green-500;
      font-weight: 500;
    }
  }
}

.footer__form-wrap {
  border-radius: 120px 0px 60px 0px;
  border: 1px solid $green-500;
  width: 100%;
  padding: 60px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 100%;
  align-self: stretch;

  > button {
    margin-left: auto;
    margin-top: auto;
  }

  > .input {
    width: 100%;
  }
}

.footer__field-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 24px;

  > .input {
    width: 100%;
  }
}

.footer__copyright {
  background: rgba(47, 47, 47, 0.6);
  backdrop-filter: blur(20px);
  display: flex;
  padding: 30px 120px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  > p {
    color: $white;
  }
}
