.goal {
  background: linear-gradient(135deg, #59d9c6 0%, #215aae 100%);
  display: flex;
  padding: 120px;
  justify-content: center;
  align-items: flex-start;
  gap: 54px;
  align-self: stretch;
  align-items: center;

  @media only screen and (max-width: 1350px) {
    flex-direction: column;

    > .goal__svg {
      align-self: center;
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;
  }

  @media only screen and (max-width: 600px) {
    padding: 30px;
    padding-bottom: 60px;

    .goal__title {
      font-size: 36px;
      line-height: 42px;
    }

    .goal__cta {
      gap: 12px;
    }
  }
}

.goal__svg {
  max-width: 540px;
  width: 100%;

  > svg {
    mix-blend-mode: hard-light;
  }
}

.goal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  > p {
    color: $white;
  }
}

.goal__title {
  color: $black-100;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  mix-blend-mode: overlay;
  margin-bottom: 30px;
}

.goal__cta {
  margin-top: 60px;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1;

  > div {
    > p {
      color: $white;
    }
  }
}
