.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(47, 47, 47, 0.6);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  padding: 18px 96px 18px;
  z-index: 2;

  &.header--primary {
    position: sticky;
    top: 0;
    background: rgba(47, 47, 47, 0.6);
    backdrop-filter: blur(20px);
  }

  @media only screen and (max-width: 900px) {
    padding: 12px 48px;
  }

  @media only screen and (max-width: 600px) {
    padding: 12px 24px;
  }
}

.header__logo {
  color: $white;
  font-family: "PlayfairDisplay";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-right: 26px;
  cursor: pointer;

  > span {
    color: $green-500;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 24px;

  > button {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    color: $white;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.header__cta {
  margin-left: auto;
  display: flex;
  gap: 18px;
  align-items: center;
}

.header__conference {
  > :first-child {
    color: $white;
  }

  > :last-child {
    color: $white;
  }
}

.header__menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
  }
}

.header__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  display: flex;
  gap: 12px;
  background: rgba(47, 47, 47, 0.6);
  backdrop-filter: blur(20px);
  z-index: 99;

  > :first-child {
    width: 100%;
  }
}
