.program {
  padding: 120px;
  background: $blue-700;
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: 1350px) {
    .program__content {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 1400px) {
    .program__background {
      position: absolute;
      top: 0;
      right: 0;
      width: 600px;
      height: 600px;
      transform: translateY(-50%);
      left: unset;
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;

    .program__background {
      width: 450px;
      height: 450px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
    gap: 72px;

    .program__background {
      width: 300px;
      height: 300px;
    }

    .program__content {
      gap: 30px;
    }

    .program__header {
      > h1 {
        font-size: 36px;
        line-height: 42px;
      }

      > h2 {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .program__item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;

      > :first-child {
        flex-shrink: 1;
        padding-left: 12px;
      }

      > img {
        width: 90px;
        height: 90px;
        padding: 0;
      }
    }

    .program__location {
      width: 100%;

      > h1 {
        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}

.program__content {
  display: flex;
  gap: 120px;
  width: 100%;
  position: relative;
}

.program__header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 480px;
  width: 100%;

  > h1 {
    color: $white;
    font-family: "PlayfairDisplay";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    border-bottom: 1px solid $green-500;
    width: max-content;
  }

  > h2 {
    color: $green-500;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }

  > p {
    color: $white;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.program__plan {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.program__item {
  border-radius: 90px 0px 300px 0px;
  border-top: 1px solid $green-500;
  display: flex;
  gap: 24px;
  width: 100%;
  z-index: 1;

  position: relative;

  p {
    color: $white;
  }

  > :nth-child(1) {
    flex-shrink: 0;
  }

  > :nth-child(1),
  > :nth-child(2) {
    padding: 30px 0;
  }

  > :nth-child(2) {
    width: 100%;

    > :last-child {
      max-width: 420px;
      width: 100%;
    }
  }

  > :nth-child(3) {
    position: relative;
    width: 146px;
    height: 146px;
  }
}

.program__location {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 480px;
  width: 100%;
  cursor: pointer;
  width: max-content;

  > h1 {
    color: $white;
    font-family: "PlayfairDisplay";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    border-bottom: 1px solid $green-500;
    width: max-content;
  }

  > div {
    display: flex;
    gap: 18px;
    align-items: center;

    > div {
      width: 90px;
      height: 90px;
      background: linear-gradient(135deg, #59d9c6 0%, #598cd9 100%);
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      > svg {
        width: 24px;
        height: 24px;
      }
    }

    > h2 {
      color: $green-500;
    }
  }

  > p {
    color: $white;
  }
}

.program__background {
  position: absolute;
  bottom: 0;
  left: -50%;
  transform: translateX(40%);
  width: 1200px;
  height: 1200px;
  mix-blend-mode: hard-light;

  svg {
    width: 1200px;
    height: 1200px;
    mix-blend-mode: hard-light;
  }
}

.program__carousel {
  width: 100vw;

  img {
    width: 776px;
    cursor: pointer;
  }

  margin: 0 -120px;

  @media only screen and (max-width: 900px) {
    margin: 0 -60px;

    img {
      width: 583px;
    }
  }

  @media only screen and (max-width: 700px) {
    img {
      width: 300px;
    }
  }

  @media only screen and (max-width: 600px) {
    margin: 0 -30px;
  }
}
