.tickets {
  padding: 120px;
  background: linear-gradient(
      135deg,
      rgba(89, 217, 198, 0.3) 0%,
      rgba(33, 90, 174, 0.3) 100%
    ),
    #fff;
  display: flex;
  align-items: flex-start;
  gap: 54px;
  align-self: stretch;

  .benefits {
    margin-top: 18px;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 1350px) {
    flex-direction: column;
    align-items: center;

    .tickets__content {
      max-width: 540px;
      width: 100%;
      align-self: center;
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    .tickets__header {
      flex-direction: column;
      gap: 12px;

      > h1 {
        font-size: 36px;
        line-height: 42px;
      }
    }

    .tickets__price {
      > h1 {
        font-size: 42px;
        line-height: 42px;
      }
    }

    .tickets__pricing > :last-child {
      padding: 12px 0;
    }

    .tickets__privileges > button {
      margin-top: 30px;
    }

    .tickets__content {
      gap: 18px;
    }

    .benefits {
      margin-bottom: 18px;
    }
  }
}

.tickets__svg {
  max-width: 540px;
  width: 100%;

  svg {
    mix-blend-mode: hard-light;
  }
}

.tickets__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.tickets__header {
  display: flex;
  gap: 30px;

  > h1 {
    color: $black-100;
    width: max-content;
    font-family: "PlayfairDisplay";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    border-bottom: 1px solid $green-500;
  }
}

.tickets__seats {
  display: flex;
  padding: 12px 30px;
  align-items: center;
  gap: 18px;
  width: max-content;
  border: 1px solid $blue-500;
  border-radius: 30px;

  > p {
    width: 80px;
  }

  > h2 {
    color: $black-100;
  }
}

.tickets__privileges {
  > button {
    margin-top: 60px;
  }
}

.tickets__pricing {
  > :first-child {
    margin-bottom: 6px;
  }

  > :last-child {
    padding: 18px 0;
  }
}

.tickets__price {
  display: flex;
  align-items: center;
  gap: 18px;

  > h1 {
    font-family: "PlayfairDisplay";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }

  > div {
    > :last-child {
      font-variant-numeric: lining-nums;
      font-family: "PlayfairDisplay" !important;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      position: relative;
      width: max-content;

      &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        right: 0;
        border-top: 2px solid;
        border-color: #598cd9;

        -webkit-transform: rotate(-30deg);
        -moz-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        transform: rotate(-30deg);
      }
    }
  }
}
