.topics {
  background: linear-gradient(275deg, #215aae 7.38%, #59d9c6 92.62%);
  display: flex;
  padding: 120px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;

  @media only screen and (max-width: 1000px) {
    .topics__header {
      flex-direction: column-reverse;

      > .topics__types {
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .topics__svg {
      align-self: center;
    }

    .topics__types {
      flex-direction: row;
    }

    .topics__cta {
      margin-top: 36px;
    }

    .topics__carousel {
      .splide {
        display: flex;
        flex-direction: column;
      }

      .splide__arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-bottom: 12px;

        > button {
          position: relative;
          top: unset;
          left: unset;
          right: unset;
          bottom: unset;
          transform: none;
          width: 48px;
          height: 48px;
          background: transparent;
          border: 1px solid $white;

          > svg {
            width: 18px;
            height: 18px;
            fill: $white;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 72px 60px;

    .topics__carousel {
      margin: 0 -60px;
    }

    .topics__carousel {
      .splide__arrows {
        padding: 0 60px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    .topics__content {
      gap: 30px;
    }

    .topics__carousel {
      margin: 0 -30px;

      .splide__arrows {
        padding: 0 30px;
      }
    }

    .topics__title {
      font-size: 36px;
      line-height: 42px;
    }

    .topics__description {
      > h2 {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

.topics__title {
  color: $black-100;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  mix-blend-mode: overlay;
  align-self: flex-start;
}

.topics__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  flex: 1 0 0;
  width: 100%;
}

.topics__types {
  display: flex;
  gap: 12px;
}

.topics__type {
  display: flex;
  align-items: flex-start;
  gap: 120px;
  align-self: stretch;
}

.topics__svg {
  max-width: 420px;
  width: 100%;
}

.topics__description {
  > h2 {
    color: $white;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    max-width: 630px;
    margin-bottom: 12px;

    > span {
      color: $green-500;
    }
  }

  > .topics__details {
    display: flex;
    flex-direction: column;
    gap: 24px;

    > p {
      color: $white;

      > strong {
        font-weight: 500;
      }
    }
  }
}

.topics__cta {
  margin-top: 112px;
  display: flex;
  align-items: center;
  gap: 30px;

  > div {
    > p {
      color: $white;
    }
  }
}

.topics__header {
  width: 100%;
  display: flex;
  gap: 60px;
  justify-content: space-between;

  > .topics__types {
    flex-direction: column;

    > .tag {
      width: max-content;
    }
  }

  .topics__svg,
  .topics__svg > svg {
    width: 100%;
    height: 100%;
  }

  .topics__svg > svg {
    mix-blend-mode: hard-light;
  }
}

.topics__carousel {
  width: 100vw;
  margin: 0 -120px;
}
