.educator {
  display: flex;
  min-height: 100vh;
  padding: 120px;
  gap: 60px;
  position: relative;
  overflow: hidden;
  justify-content: flex-end;

  > svg {
    width: 900px;
    height: 900px;
    position: absolute;
    top: -150px;
    right: -150px;
  }

  @media only screen and (max-width: 1250px) {
    flex-direction: column-reverse;

    .educator__content {
      padding-top: 0;
      padding-bottom: 0;
      z-index: 1;
    }

    .educator__background {
      display: flex;
      justify-content: flex-end;
    }

    .educator__description {
      padding-right: 0;
    }
  }

  @media only screen and (max-width: 900px) {
    padding-left: 60px;
    padding-right: 60px;

    > svg {
      right: -210px;
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    .educator__background {
      > img {
        width: 200px;
        height: 200px;
      }
    }

    > svg {
      width: 600px;
      height: 600px;
      right: -170px;
      top: -80px;
    }

    .educator__title {
      font-size: 36px;
      line-height: 42px;
    }
  }
}

.educator__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 60px 0;
}

.educator__conference {
  > p {
    color: $green-500;
  }

  > .educator__time {
    color: $green-500;
    font-family: "Montserrat";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }
}

.educator__title {
  color: $white;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  border-bottom: 1px solid $green-500;
}

.educator__description {
  padding-right: 110px;

  > p {
    color: $white;
  }
}

.educator__cta {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 30px;

  > div {
    > :first-child {
      color: $white;
    }

    > :last-child {
      color: $white;
    }
  }
}

.educator__background {
  position: relative;
  z-index: 1;

  > img {
    width: 360px;
    height: 360px;
  }
}
