.register {
  background: #c8e7ec;
  padding: 60px 120px;
  display: flex;
  gap: 120px;

  @media only screen and (max-width: 1400px) {
    flex-direction: column;

    .register__field-group {
      flex-direction: row;
      gap: 24px;
    }

    .register__title {
      width: max-content;
    }

    .register__tickets {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 60px;
      gap: 24px;

      > :first-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin: 0;
      }

      > :last-child {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .register__tickets {
      flex-direction: column;
      gap: 60px;
      min-width: 100%;

      > .register__pricing {
        gap: 18px;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding-left: 60px;
    padding-right: 60px;

    .register__field-group {
      flex-direction: column;
      gap: 0;
    }

    .register__badge {
      font-size: 22px;
      line-height: 30px;
      padding: 12px;

      > span {
        font-size: 30px;
        line-height: 36px;
      }
    }

    .register__extra-tickets {
      gap: 30px;

      > h3 {
        margin-top: 30px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;

    .register__title {
      font-size: 36px;
      line-height: 42px;
    }

    .register__form-container {
      gap: 30px;
    }

    .register__extra-field-group {
      gap: 16px;

      > button {
        width: auto;
        height: auto;
        border: none;
        padding: 12px;
      }
    }
  }
}

.register__form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  button {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.register__title {
  color: $black-100;
  font-family: "PlayfairDisplay";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 66px;
  border-bottom: 1px solid $green-500;
}

.register__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  > button {
    width: 100%;
    margin-top: 60px;
  }
}

.register__field-group {
  display: flex;
  gap: 24px;
}

.register__text {
  max-width: 540px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: auto;

  > p {
    > a {
      color: $blue-700;
      font-weight: 500;
    }
  }
}

.register__tickets {
  min-width: 450px;
  display: flex;
  flex-direction: column;
}

.register__image {
  width: 100%;
  max-width: 300px;

  > svg {
    mix-blend-mode: hard-light;
  }
}

.register__includes {
  margin: auto 0;

  > .benefits {
    margin-top: 30px;
  }
}

.register__badge {
  color: $black-100;
  font-family: "Montserrat";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  width: max-content;
  border-radius: 18px;
  border: 1px solid $blue-500;
  display: flex;
  padding: 12px 30px;
  align-items: center;
  gap: 6px;
  min-height: 71px;

  > span {
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "PlayfairDisplay";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
  }
}

.register__extra-tickets {
  display: flex;
  flex-direction: column;
  gap: 60px;

  > h3 {
    margin-top: 60px;
    color: $black-100;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: "PlayfairDisplay";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 60px;

    button {
      width: 66px;
      height: 66px;
    }
  }
}

.register__extra-field-group {
  display: flex;
  align-items: center;
  gap: 24px;

  > div {
    width: 100%;
  }
}

.register__float {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.register__policies {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}
