.success {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 90px 30px;
  height: 100%;
  min-height: 100%;

  @media screen and (min-width: 480px) {
    gap: 36px;
    padding: 90px 60px;

    .success_page {
      gap: 30px;

      > svg {
        align-self: center;
        margin: 0px 30px;
        max-width: 400px;
      }
    }

    .success_content {
      gap: 18px;
    }

    .success_text {
      gap: 18px;
    }

    .success_link {
      margin-top: 48px;
    }
  }

  @media screen and (min-width: 1200px) {
    gap: 76px;
    padding: 90px 120px;

    .success_page {
      flex-direction: row-reverse;
      align-items: center;
      gap: 60px;

      > svg {
        align-self: center;
        margin: 0px 60px;
        max-width: 600px;
      }

      > div,
      > svg {
        flex: 1;
      }
    }
  }
}

.success_page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;
}

.success_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-grow: 1;

  h1 {
    color: $white;
    font-size: 42px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 54px;
    word-wrap: break-word;
  }
}

.success_text {
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 12px;

  > .paragraph {
    color: $white;
    font-size: 18px;
    line-height: 24px;
  }

  > :last-child {
    font-size: 14px;
    font-family: "Montserrat";
    line-height: 18px;
    word-wrap: break-word;
  }

  &.success_text--modified {
    > :first-child {
      color: $green-500;
    }
  }
}

.success_link {
  color: $green-500;
  font-weight: 500;
}

.button_wrap {
  padding-top: 60px;
  margin-top: auto;

  > button {
    display: "flex";
    flex: 1;
    width: 100%;
  }
}
